.hero {
    position: relative;
  }
  
  .hero-body {
    transform: translateY(100px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }
  
  .hero-body.active {
    transform: translateY(0);
    opacity: 1;
  }

  .contexto {
    position: relative;
  }
  
  .contexto .title {
    transform: translateX(-100px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }
  
  .contexto .title.active {
    transform: translateX(0);
    opacity: 1;
  }
  
  .contexto p {
    transform: translateX(100px);
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }
  
  .contexto p.active {
    transform: translateX(0);
    opacity: 1;
  }




  