body {
    font-family: 'Playfair Display', serif;
}

.navbar-item.is-size-3 {
    font-family: 'Pacifico', cursive;
}

.hero.is-fuchsia {
    background-color: #ff00ff;
}

.section {
    padding: 3rem 1.5rem;
}

.footer {
    padding: 1rem; /* Reduce el padding para que el footer sea menos alto */
    background-color: #333;
    color: #fff;
    font-size: 0.8rem; /* Reduce el tamaño de la fuente para que el texto sea menos grande */
  }
  
  .columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .column {
    flex-basis: 33.33%;
    margin: 10px; /* Reduce el margen para que las columnas sean menos anchas */
  }
  
  .social-media-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .social-media-list li {
    margin-right: 10px; /* Reduce el margen entre los enlaces sociales */
  }
  
  .social-media-list a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .social-media-list a:hover {
    color: #ccc;
  }
  
  .link-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .link-list li {
    margin-bottom: 5px; /* Reduce el margen entre los enlaces de navegación */
  }
  
  .link-list a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .link-list a:hover {
    color: #ccc;
  }

.icon {
    font-size: 1.5rem;
    margin: 0.5rem;

}
